.container div h2 {
  font-style: italic;
}
h2 + p {
  color: red;
}
ul.list > li {
  list-style: none;
  border-bottom: 1px gray solid;
}
li > a:link{
    color: green;
}
li > a:visited{
    color: red;
}
li > a:hover{
    color: pink;
}

